* 
{
	outline: none;
	margin: 0;
	padding: 0;
}

html, body 
{
	font-family: "Open Sans";
	color: #000;
}

header 
{
	background-color: #6CADFF;
}

.header-container 
{
	padding-top: 66px;
	padding-bottom: 66px;
	color: #fff;
	width: 310px;
	margin: 0 auto;
	text-align: center;
}

#header 
{
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 7.7px;
}

#header img 
{
	float: left;
}

#header div 
{
	padding: 14px;
}

.container 
{
	padding-top: 120px;
	width: 780px;
	margin: 0 auto;
}

.row
{
	width: inherit;
}

.col-input 
{
	width: 700px;
	float: left;
}

.col-button 
{
	padding: 0 0 0 8px;
	width: 62px;
	height: 59px;
	float: right;
}

.input 
{
	width: 100%;
	font-family: "Open Sans";
	color: #888;
	margin-top: 8px;
	padding: 6px 0;
	font-size: 24px;
	background-color: rgba(0,0,0,0);
	border: 2px solid #D8D8D8;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	box-sizing: border-box;
}

.input::placeholder 
{
	color: #D9D9D9;
}

tr
{
	font-size: 24px;
	height: 144px;
	width: 818px;
	border-style: solid;
	border-width: 1px;
	border-color: #E7E7E7;
}

#trSpacing
{
	height: 15px;
	width: inherit;
}
.button 
{
	background-image: url("../assets/Group 3.png");
	border: none;
	background-color: rgba(0, 0, 0, 0);
	height: 59px;
	width: 56px;
	position: relative;
	float: left;
	top: 0;
	color: #888;
}

.button:active 
{
	top: 2px;
}

#archiveTasksTable
{
	width: 818px;
	color: #D9D9D9;
	background-color: #F8F8F8; 

	padding-left: 19px;
}

#activeTasksTable 
{
	width: 818px;
	border-collapse: collapse;
}

.taskName
{
	padding-left: 19px;
	color: #888;
}

.taskTime
{
	color: #D9D9D9;
}

.archiveButton
{
	padding-right: 20px;
}

#tick
{
	height: 26px;
	width: 27px;
	font-weight: bold;
	transform: rotate(42deg) scaleX(-1);
	color: #8EF377;
	padding-left: 13px;
}
